* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-Regular.woff2) format("woff2"),
         url(../fonts/OpenSans-Regular.woff) format("woff"),
         url(../fonts/OpenSans-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-Bold.woff2) format("woff2"),
         url(../fonts/OpenSans-Bold.woff) format("woff"),
         url(../fonts/OpenSans-Bold.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: open-sans, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: #000000;
}

p {   
    margin-block-end: 0.71em;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
}

.title-line {    
    text-align: center;
    font-size: 16px;
    position: relative;
    margin-bottom: 40px;   
    margin-top: 44px; 
}


.title-line::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 66px;
    background-color: #e1d9bd;
    left: calc(50% - 33px);
    top: 25px;
}



.header {
    height: 100vh;
    background-image: url(../img/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 1;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-color: #000000;
    opacity: 0.6;  
    z-index: -1; 
  }

.header-wrapper {
    padding: 33px 15px 0;
    
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu-mobile {
    width: 24px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
}

.menu-mobile > span {
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #ffffff

}

.menu-logo {
    margin-top: calc(37vh - 60px);
}


.logo-link-img {
    height: 60px;
}

.intro-title {
    color: #ffffff;    
    text-align: center;
    font-size: 26px;
    margin-top: 42px;
    padding: 0 25px;
}

.page {
    padding: 0 15px;
}

.trend {
    background-color: #666666;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
    position: relative;
    z-index: 1; 
    display: flex;    
    align-items: flex-end;
    margin-top: 3px;
}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-color: #000000;
    opacity: 0.6;  
    z-index: -1; 
}

.trend-1 {
    background-image: url(../img/trend1.jpg);
}

.trend-2 {
    background-image: url(../img/trend2.jpg);
}

.trend-3 {
    background-image: url(../img/trend3.jpg);
}

.trend-4 {
    background-image: url(../img/trend4.jpg);
}

.trend-text {
    padding: 30px 20px;
    border: 3px solid #7a6f3c;
    margin: 0 15px 15px;  
    width: 100%;  
}

.trend-tegs {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.trend-teg-item {
    margin-right: 18px;
}

.trend-teg-link {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b59f5b;
}

.trend-teg-link:hover {    
    text-decoration: underline;
}

.trend-title {
    margin-top: 15px;
}

.trend-title-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
}

.trend-title-link:hover {
    color: #b59f5b;
}

/* --------------------------- PAGE ---------------------------- */

.page {
    padding: 0 15px;
    
}

.news {
    margin-bottom: 20px;
    margin-top: 44px; 
    position: relative;
}



.news-line {
    margin-top: 60px;
}

.news-line:before {
   content: "";
   width: 100%;
   height: 3px;
   background-color: #eeeeee;
   position: absolute;
   top: -38px;
   
}



.news-img {
   display: block;
   background-color: #eff6f1;
  width: 100%;
}

.news-text {
    margin-top: 15px;    
}

.news-tegs {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.news-item-link {
    text-transform: uppercase;
    color: #b59f5b;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}

.news-item-link:hover {
    text-decoration: underline;
}

.news-title{
    text-transform: uppercase;
    margin-top: 15px;
}

.news-title-link:hover {
    color: #b59f5b;
}

.news-meta {
    margin-top: 15px;
    display: flex;
    align-items: end;
    font-size: 12px;
}

.date {    
    color: #888888;   
    font-size: 12px; 
}

.author{
    margin-left: 15px;
}

.news-text-about {
    margin: 20px 0;
   
}

/* ------------------ side-bar ----------------*/


.post {
    display: flex;
    margin-bottom: 20px;
}

.post-img-link {
    background-color: #f4f7f6;   
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-right: 20px;
}

.post-img {
    width: 100%;
    height: 100%;
}

.post-title {
    margin-top: 10px;
    font-size: 14px;
}

  /* ------------- Форма поиска ----------- */

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

.search {
    display: flex;    
    align-items: center;
    margin-top: 60px;
  }

  
.search-button {
background-color: #b59f5b;
width: 47px;
height: 47px;
border: 0;
background-image: url("../svg/search.svg");
background-size: 20px;
background-position: center center;
background-repeat: no-repeat;
}

.search-button:hover {
background-color: #323232;    
}

.search-group {
    flex-grow: 1;
}

.search-field {
    height: 45px;
    padding-left: 18px;
    background-color: #f4f7f6;
    border: 0;
    width: 100%;
    
}

.search-field:focus {
    outline: 1px solid #b59f5b;
}

.subscribe {
    display: flex;
    flex-wrap: wrap;
}

.subscribe-group {
    width: 100%;
}

.subscribe-field {
    height: 45px;
    padding-left: 18px;
    background-color: #f4f7f6;
    border: 0;
    width: 100%;
    
}

.subscribe-field:focus {
    outline: 1px solid #b59f5b;
}

.subscribe-button {
    background-color: #b59f5b;    
    height: 47px;
    width: 100%;
    border: 0;
    margin-top: 17px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.subscribe-button:hover {
    background-color: #323232;    
  }

/* -----------------------------  ТЕГИ  --------------------------*/

.list-tegs {
    list-style-type: none; 
}

.list-teg {
    display: inline-block;  
}

.list-teg-link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px;
    border: 3px solid #eeeeee;  
    margin-bottom: 4px;
}

.list-teg-link:hover {  
    border: 3px solid #b59f5b;  
}
 
 /* -----------------------------  ТЕМЫ  ------------------------*/
.list-themes {
    list-style-type: none; 
  }
  
.list-theme {
    display: block;
    align-items: center;
    height: 45px;
    padding-top: 11px;
    border-bottom: 1px solid #eeeeee;
}

.list-theme-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.list-theme-link:hover {  
    color: #b59f5b;
}

.list-theme-count {
    margin-left: 4px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    color: #b59f5b;
}

/*------------------------------ МАГАЗИН ----------------*/

.shop {
    padding: 0 15px;
}


.product {
    display: flex;
   /*--- flex-wrap: wrap;*/
   flex-direction: column;
    padding: 0 30px;
}

.product-picture { 
    display: block;
    width: 100%;      
    object-fit: contain;
  
}

.product-picture-img {
    width: 100%;    
    background-color: #f4f7f6;
}

.product-text {
    margin-bottom: 57px;
    outline: 3px solid #d3c59d;
    outline-offset: 25px;
}


.product-title {
    font-size: 17px;
    margin-top: 25px;
    
}

.product-description {
    font-size: 15px;
}

.product-footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-button {
    display: flex;
    background-color: #b59f5b;
    width: 138px;    
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;   
}

.product-button:hover {
    background-color: #323232;
}

.product-price {
    flex-shrink: 0;
}

.price-old {
    display: block;
    font-weight: bold;
    text-decoration: line-through;
}

.price-new {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

/* -----------  Знак Рубля---------------*/
.rub {
    position: relative;
}

.rub::after {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 0.1em;
    background-color: #000000;
    top: 0.86em;
    right: 0.1em;
}

.rub::before {
   content: " ";
}



/* -----------  FOOTER  ---------------*/

.footer { 
    padding: 0 15px;
    margin-top: 42px;
  }
  
  .social {
    background-color: #f4f7f6;
    height: 83px; 
    display: flex;      
    justify-content: center;
    align-items: center;
  }

  .social-icon {
    display: block;
    width: 20px;
    margin: 0 15px;
  }

  .copyrights {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyrights-link {
    color: #999999;
  }

/* -----------  Модальное окно  ---------------*/
 
.popup {    
    position: fixed;   
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;   
     
}

.popup-window {  
    display: flex;
    flex-direction: column;  
    padding: 0 15px;
    
}

.popup-close {     
    height: 30px;
    position: relative;
    width: 30px;       
    align-self: flex-end;
}

.popup-close::before,
.popup-close::after {     
    position: absolute; 
    left: 14px;   
    top: -3px;
    content: "";
    height: 33px;
    width: 4px;
    background-color: #ffffff;
}

.popup-close::before {
    transform: rotate(45deg);
}

.popup-close::after {
    transform: rotate(-45deg);
}

.popup-form {
    background-color: #fff;   
    padding: 0 20px;
    width: 100%;
    max-width: 330px;
    height: 600px;
}

._hidden {
    display: none;
}

.popup-title {
    margin-top: 30px;
}

.feedback-group {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 37px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 10px;
    border: none;
    opacity: 0.54;
    font-family: sans-serif;
}

.feedback-group:focus {
    border: 1px solid #e1d9bd;
}



.form-text {
   font-size: 13px; 
   margin-bottom: 12px;
}

.radio-groupe {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.form-radio {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;   
}

.form-radio:checked + .form-radio-text::before {
    background-image: url("../svg/form-circle.svg");
}

.form-radio-text {
    margin-right: 34px;   
    font-size: 13px;
}

.form-radio-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;  
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;  
    margin-right: 7px;
}

.form-textarea {
    width: 100%;
    height: 130px;
    background-color: #f4f7f6;
    border: none;
}

.form-textarea {
    width: 100%;
    height: 130px;
    background-color: #f4f7f6;
    padding: 24px 15px 0;
    font-family: sans-serif;
    opacity: 0.54;
    margin-bottom: 26px;
}

.form-textarea:focus {
    border: 1px solid #e1d9bd;
}

.form-button {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.form-button:hover {
    background-color: #323232;
}


/* -------------------  TABLET  -------  @media  ------------------*/

@media (max-width: 640px) and (orientation: landscape) ,
       (min-width: 641px) {

    .trends {
        display: flex;
        flex-wrap: wrap;
    }
        
    .trend {
        width: calc(50% - 1.5px);
        margin-right: 3px;
    }
    
    .trend:nth-child(even) {
        margin-right: 0;
    }
   
}

@media (min-width: 641px) {

    .header {
        height: 390px;
        background-image: url(../img/banner-bg-tablet.jpg);
       
    }
    
    .menu-logo {
        margin: 0;
    }

    .logo-link-img {
        height: 30px;
    }

    .header-menu {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .menu-mobile {
        align-self: center;
    }

    .intro-title {
        max-width: 620px;
       
        font-size: 40px;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 104px;

    }

    .title-line {
        margin-top: 50px;
        margin-bottom: 36px;
        font-size: 18px;
    }

    .page {
        margin-top: 6px;
        padding: 0 35px;
        display: flex;        
    }

    .post-list {
        margin-right: 35px;
    }

    .news-line {
        margin-top: 70px;
    }

    .aside {
        min-width: 270px;
    }

    .shop {
        padding: 0 35px;    
    }

    .shop-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .product {    
        width: calc(50% - 12px);
    }

    .product:nth-child(odd) {
        margin-right: 24px;
    }

    .product-text {
        flex-grow: 1;
    }

    
    .popup-form {
        padding: 0 30px;
        max-width: 390px;
        height: 600px;
    }

    .popup-close {
        margin-bottom: 8px;
    }

}


/* -------------------  DESCTOP  -------  @media   ------------------*/

@media (min-width: 1200px) {
    .page ,
    .shop ,
    .header-menu {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .trends>.trend {
        height: 320px;
        width: calc(25% - 3px);
        margin: 0 0 0 4px;
    }

    .trends>.trend:nth-child(1) {
        margin-left: 0;
    }

    .header {
        height: 450px;
        background-image: url(../img/banner-bg.jpg);
       
    }

    .intro-title {
        max-width: 670px;
    }

    .shop-wrap {
       flex-wrap: nowrap;
       justify-content: space-between;
    }
    .shop-wrap>.product {
       flex-basis: 346px;      
        margin: 0;
    }
}