* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-Regular.woff2) format("woff2"),
         url(../fonts/OpenSans-Regular.woff) format("woff"),
         url(../fonts/OpenSans-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-Bold.woff2) format("woff2"),
         url(../fonts/OpenSans-Bold.woff) format("woff"),
         url(../fonts/OpenSans-Bold.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: open-sans, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
}
a {
    text-decoration: none;
    color: #000000;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
}

.title-line {    
    text-align: center;
    font-size: 16px;
    position: relative;
    margin-bottom: 40px;   
    margin-top: 44px; 
}


.title-line::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 66px;
    background-color: #e1d9bd;
    left: calc(50% - 33px);
    top: 25px;
}

.header {
    height: 100vh;
    background-image: url(../img/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 1;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-color: #000000;
    opacity: 0.6;  
    z-index: -1; 
  }

.header-wrapper {
    padding: 0 15px;
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-link-img {
    height: 60px;
}

.intro-title {
    color: #ffffff;    
    text-align: center;
    font-size: 24px;
    margin-top: 42px;
}

.page {
    padding: 0 15px;
}

.trend {
    background-color: #666666;
    background-image: url(../img/trend1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
    position: relative;
    z-index: 1; 
    display: flex;    
    align-items: flex-end;
}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-color: #000000;
    opacity: 0.6;  
    z-index: -1; 
}

.trend-text {
    padding: 30px 20px;
    border: 3px solid #7a6f3c;
    margin: 0 15px 15px;    
}

.trend-tegs {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.trend-teg-item {
    margin-right: 18px;
}

.trend-teg-link {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b59f5b;
}

.trend-teg-link:hover {    
    text-decoration: underline;
}

.trend-title {
    margin-top: 15px;
}

.trend-title-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
}

.trend-title-link:hover {
    color: #b59f5b;
}

/* --------------------------- PAGE ---------------------------- */

.page {
    padding: 0 15px;
    
}

.news {   
    position: relative;
}

.news-picture {
    margin-top: 40px; 
   
}

.news-line {   
    width: 100%;
    height: 3px;
    background-color: #dfdacd;    
}

.news-img {
    width: 100%;
}

.news-text {
    margin-top: 15px;    
}

.news-tegs {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.news-item-link {
    text-transform: uppercase;
    color: #b59f5b;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}

.news-item-link:hover {
    text-decoration: underline;
}

.news-title{
    text-transform: uppercase;
    margin-top: 15px;
}

.news-title-link:hover {
    color: #b59f5b;
}

.news-meta {
    margin-top: 15px;
    display: flex;
    align-items: end;
    font-size: 12px;
}

.date {    
    color: #888888;   
    font-size: 12px; 
}

.author{
    margin-left: 15px;
}

.news-text-about {
    margin: 20px 0;
   
}

/* ------------------ side-bar ----------------*/


.post {
    display: flex;
    margin-bottom: 20px;
}

.post-img-link {
    background-color: #f4f7f6;   
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-right: 20px;
}

.post-img {
    width: 100%;
    height: 100%;
}

.post-title {
    margin-top: 10px;
    font-size: 14px;
}

  /* ------------- Форма поиска ----------- */

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

.search {
    display: flex;    
    align-items: center;
    margin-top: 60px;
  }

  
.search-button {
background-color: #b59f5b;
width: 47px;
height: 47px;
border: 0;
background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
background-size: 20px;
background-position: center center;
background-repeat: no-repeat;
}

.search-button:hover {
background-color: #323232;    
}

.search-group {
    flex-grow: 1;
}

.search-field {
    height: 45px;
    padding-left: 18px;
    background-color: #f4f7f6;
    border: 0;
    width: 100%;
    
}

.search-field:focus {
    outline: 1px solid #b59f5b;
}

.subscribe {
    display: flex;
    flex-wrap: wrap;
}

.subscribe-group {
    width: 100%;
}

.subscribe-field {
    height: 45px;
    padding-left: 18px;
    background-color: #f4f7f6;
    border: 0;
    width: 100%;
    
}

.subscribe-field:focus {
    outline: 1px solid #b59f5b;
}

.subscribe-button {
    background-color: #b59f5b;    
    height: 47px;
    width: 100%;
    border: 0;
    margin-top: 17px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.subscribe-button:hover {
    background-color: #323232;    
  }

/* -----------------------------  ТЕГИ  --------------------------*/

.list-tegs {
    list-style-type: none; 
}

.list-teg {
    display: inline-block;  
}

.list-teg-link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px;
    border: 3px solid #eeeeee;  
    margin-bottom: 4px;
}

.list-teg-link:hover {  
    border: 3px solid #b59f5b;  
}
 
 /* -----------------------------  ТЕМЫ  ------------------------*/
.list-themes {
    list-style-type: none; 
  }
  
.list-theme {
    display: block;
    align-items: center;
    height: 45px;
    padding-top: 11px;
    border-bottom: 1px solid #eeeeee;
}

.list-theme-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.list-theme-link:hover {  
    color: #b59f5b;
}

.list-theme-count {
    margin-left: 4px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    color: #b59f5b;
}

/*------------------------------ МАГАЗИН ----------------*/

.product {
    display: flex;
    flex-wrap: wrap;
}

.product-picture { 
    display: block;
    width: 100%;
    padding: 0 20px;   
    object-fit: contain;
  
}

.product-picture-img {
    width: 100%;    
    background-color: #f4f7f6;
}

.product-text {
    padding: 0 20px 30px;
    border: 3px solid #d3c59d;
    
}


.product-title {
    font-size: 17px;
    margin-top: 25px;
    
}

.product-description {
    font-size: 15px;
}

.product-footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}